.Movies__ModalMovie {
  position: fixed;
  width: 90vw;
  height: 90vh;
  visibility: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Movies__ModalMovie__Content {
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 30px;
  border: 2px solid rgb(177, 26, 26);
  overflow-x: auto;
  overflow-y: scroll;
  color: black;
}
.buttonModaleX:hover{
  font-weight: bold;
  cursor:pointer;

}
body{
  background-color: black;
  color:white;

}
img{
  cursor:pointer;
}

.Movies__ActionMovies__Slider, .Movies__RomanticMovies__Slider, .Movies__Comedies__Slider, .Movies__PopularMovies__Slider{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.btn-class-up{
  margin-left: auto;
}
.Movies__BestMovie, .Movies__PopularMovies__Slider__Movie1, .Movies__PopularMovies__Slider__Movie7, .Movies__ActionMovies__Slider__Movie1, .Movies__ActionMovies__Slider__Movie7, .Movies__RomanticMovies__Slider__Movie1, .Movies__RomanticMovies__Slider__Movie7, .Movies__Comedies__Slider__Movie1, .Movies__Comedies__Slider__Movie7{
  display: flex;
  position: relative;

}
.Movies__BestMovie__Image{
  max-height:120%;
  margin-left: auto;
  position:absolute;
  right:50%;
  cursor:default;
}
.Movies__Slider__Previous, .Movies__Slider__Next{
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  
}
.Movies__Slider__Previous{
  left: 0;
  top: 15%;
  visibility: hidden;
}
.Movies__Slider__Next{
  right: 0;
  top: 15%;
}
.Movies__Slider__Previous:hover, .Movies__Slider__Next:hover{
  opacity: 1;
}

