body{
  background-color: black;
  color:white;
}
img{
  border-radius: 10px;
  cursor:pointer;
}

.Movies__ModalMovie {
  position: fixed;
  width: 90vw;
  height: 90vh;
  visibility: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
  top: 5em;
  left: 5%;
  right: 5%;
  bottom: 5%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Movies__ModalMovie__Content {
  max-height: 47em;
  border-radius: 10px;
  background: black;
  position: relative;
  padding: 30px;
  border: 2px solid white;
  overflow: auto;
  color: white;
}
.buttonModaleX:hover, .Header__Menu__Accueil:hover, .Header__Menu__Categories:hover, .Header__Menu__Categories__List_Item:hover, .ButtoninfoFilm:hover{
  font-weight: bold;
  cursor:pointer;
}
.Header{
  top:0;
  z-index: 2;
  position: fixed;
  background-color: darkslategray;
  display: flex;
  justify-content: space-between;
  width: 99%; 
  height: 5em;
  border-radius: 5px;
}
.Header__Menu{
  width: 20em;
  align-items: center;
  justify-content: space-around;
  font-size: large;
}
.Header__Title, .Header__Menu{
  display: inline-flex;
}
.Header__Title__LogoImg{
  object-fit: contain;
}
#Header__Menu__Categories__List{
  visibility: hidden;
  overflow-y: scroll;
  height: 20em;
  top:3.4em;
  right:1.2em;
  position: absolute;
}
.Header__Menu__Categories__List_Item{
  background-color: darkslategray;
  list-style: none;
  position: relative;
}
.Movies{
  position: relative;
  top:5em
}
.Movies__Selectedgenre{
  visibility: hidden;
}
.Movies__ActionMovies__Slider, .Movies__RomanticMovies__Slider, .Movies__Comedies__Slider, .Movies__PopularMovies__Slider, .Movies__Selectedgenre__Slider{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  overflow: auto;
}
.Movies__PopularMovies__Slider__Movie1, .Movies__PopularMovies__Slider__Movie7, .Movies__ActionMovies__Slider__Movie1, .Movies__ActionMovies__Slider__Movie7, .Movies__RomanticMovies__Slider__Movie1, .Movies__RomanticMovies__Slider__Movie7, .Movies__Comedies__Slider__Movie1, .Movies__Comedies__Slider__Movie7, .Movies__Selectedgenre__Slider__Movie1, .Movies__Selectedgenre__Slider__Movie7{
  position: relative;
}
.Movies__BestMovie, .Movies__PopularMovies__Slider__Movie1, .Movies__PopularMovies__Slider__Movie7, .Movies__ActionMovies__Slider__Movie1, .Movies__ActionMovies__Slider__Movie7, .Movies__RomanticMovies__Slider__Movie1, .Movies__RomanticMovies__Slider__Movie7, .Movies__Comedies__Slider__Movie1, .Movies__Comedies__Slider__Movie7, .Movies__Selectedgenre__Slider__Movie1, .Movies__Selectedgenre__Slider__Movie7{
  display: flex;
}
.Movies__BestMovie, .Movies__PopularMovies, .Movies__ActionMovies, .Movies__RomanticMovies, .Movies__Comedies, .Movies__Selectedgenre{
  border: 2px solid white;
  border-radius: 10px;
}
.Movies__BestMovie__MovieInfo{
  z-index: 1;
  font-size: larger;
}
.Movies__BestMovie__Image{
  cursor:default;
  z-index: 0;
  object-fit: contain;
}
.Movies__Slider__Previous, .Movies__Slider__Next{
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.Movies__Slider__Previous{
  left: 0;
  top: 15%;
  visibility: hidden;
}
.Movies__Slider__Next{
  right: 0;
  top: 15%;
}
.Movies__Slider__Previous:hover, .Movies__Slider__Next:hover{
  opacity: 1;
}
.ButtoninfoFilm{
  background-color: red;
  color: white;
  font-size: large;
  border: 1px solid white;
  border-radius: 3px;
}

